$fieldset-input-border-color-focused: #2873c4;
$fieldset-input-background-color: #fff;

.form-group.fieldset {

  position: relative;
  margin: 0 0 19px 0;

  &.focused {
    .control-label {
      top: -11px;
      font-size: 16px;
      background-color: $fieldset-input-border-color-focused;
      color: $fieldset-input-background-color;
    }

    .form-control {
      border-width: 2px;
      border-color: $fieldset-input-border-color-focused;
    }
  }

  .control-label {
    top: 11px;
    left: 15px;
    max-width: 100%;
    position: absolute;
    display: inline-block;
    cursor: text;
    outline: 0;
    font-size: 18px;
    padding: 3px 10px;
    color: #ccc;
    opacity: 1;

    transition-property: all;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;
  }

  .form-control {
    transition-property: all;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;

    height: 50px;
    background-color: $fieldset-input-background-color;

    color: #212121;

    display: block;
    width: 100%;
    padding: 10px 20px;
    font-size: 15px;
    line-height: 1.42857143;
    background-image: none;
    border: 1px solid #ccc;
    margin: 0;
    outline: none;
    box-sizing: border-box;
  }

  .hidden {
    display: block!important;
    opacity: 0;
  }
}

